---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container/Container.astro";
import IconArrowRightShort from "@/components/icons/IconArrowRightShort.astro";
---

<Layout title="お問い合わせ送信完了">
  <div class="thanks">
    <section class="mv">
      <div class="mv-content">
        <h1 class="title">
          <span>Thank You</span>
          <span>お問い合わせ送信完了</span>
        </h1>
      </div>

      <div class="content">
        <Container>
          <div class="text">
            <p>
              お問い合わせいただき、ありがとうございます。
              <br />
              担当者が内容を確認し、2営業日以内にご返信させていただきます。
              <br />
              返信まで今しばらくお待ちください。
            </p>
            <p>
              万が一、数日経過しても返信が届かない場合は、
              <br />
              恐れ入りますが再度お問い合わせいただくか、お電話にてご連絡ください。
              <br />
              引き続き、株式会社Flowerfulをよろしくお願いいたします。
            </p>
          </div>
    
          <div class="btn-wrap">
            <a href="/" class="btn">
              <span>Home</span>
              <IconArrowRightShort class="btn-arrow" />
            </a>
          </div>
        </Container>
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
.thanks {
  position: relative;
  background-color: var.$c-white;
  flex-grow: 1;
  padding: 0 0 10rem;

  &::after {
    content: "";
    width: calc(100% - 6rem);
    height: 0.1rem;
    background-color: #e2e2e2;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.mv {
  position: relative;
  width: 100%;
  padding-top: 8rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var.$c-white;

  @include mixin.sp {
    padding-top: 5.6rem;
  }
}

.mv-content {
  position: relative;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    width: calc(100% - 6rem);
    height: 0.1rem;
    background-color: #e2e2e2;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    &:nth-child(1) {
      font-size: 3.6rem;
      font-weight: bold;

      @include mixin.sp {
        font-size: 2.8rem;
      }
    }

    &:nth-child(2) {
      font-family: var.$font-zen;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.1em;
      margin-top: 0.8rem;

      @include mixin.sp {
        font-size: 1.2rem;
        margin-top: 0.4rem;
      }
    }
  }
}

.content {
  padding: 10rem 0 0;

  @include mixin.sp {
    padding-top: 8rem;
  }
}

.text {
  position: relative;
  font-family: var.$font-zen;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.25;

  @include mixin.sp {
    font-size: 1.3rem;
    line-height: 2;
  }

  p {
    &:not(:first-child) {
      margin-top: 2.4rem;
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 6.4rem;

  @include mixin.sp {
    margin-top: 3.2rem;
  }
}

.btn {
  position: relative;
  width: 24rem;
  height: 6rem;

  @include mixin.sp {
    width: 20rem;
    height: 4.8rem;
  }

  span {
    position: relative;
    border: 0.1rem solid var.$c-black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: var.$c-white;
    z-index: 1;
    letter-spacing: 0.04em;
    transition: all 0.4s;

    @include mixin.sp {
      padding: 0 1.6rem;
      font-size: 1.2rem;
      letter-spacing: 0.02em;
    }
  }

  @include mixin.hover {
    &:hover {
      span {
        background-color: var.$c-black;
        color: var.$c-white;
      }

      &::before {
        background-color: var.$c-black;
        transform: translate(0, 0);
      }

      svg {
        :global(polyline) {
          stroke: var.$c-white;
        }
      }
    }
  }
}

.btn-arrow {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 3rem;
  height: auto;

  :global(polyline) {
    stroke: var.$c-black;
  }
}

</style>
