@import "@sass-utils";

.banner {
  padding: 12rem 0;

  @include sp {
    padding: 8rem 0;
  }
}

.img {
  position: relative;
  width: 100%;
  height: 50rem;
  display: flex;
  overflow: hidden;
  border: 0.1rem solid $c-black;

  @include tab {
    height: 40rem;
  }

  @include sp {
    height: auto;
    aspect-ratio: 3 / 2;
  }

  img {
    height: 100%;
    object-fit: cover;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($c-black, 0.3);
    z-index: 1;
    transition: all 0.5s;
  }

  &::after {
    content: "";
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    top: 1rem;
    left: 1rem;
    border: 0.1rem solid $c-white;
    display: block;
    position: absolute;
    z-index: 1;
    transition: all 0.3s;

    @include sp {
      width: calc(100% - 1.6rem);
      height: calc(100% - 1.6rem);
      top: 0.8rem;
      left: 0.8rem;
    }
  }

  @include hover {
    &:hover {
      img {
        transform: scale(1.1);
      }

      &::before {
        background-color: rgba($c-black, 1);
      }

      .arrow {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
      }
    }
  }
}

.arrow {
  position: absolute;
  right: 0;
  top: 50%;
  right: 5rem;
  color: $c-white;
  z-index: 2;
  opacity: 0;
  transform: translateY(-50%) translateX(-1.6rem);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  @include sp {
    display: none;
  }
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $c-white;
  z-index: 2;
  display: flex;
  flex-direction: column;

  span {
    &:nth-child(1) {
      font-family: var(--font-ship);
      font-weight: bold;
      font-size: 3.2rem;
      // letter-spacing: 0.1em;

      @include tab {
        font-size: 2.6rem;
      }

      @include sp {
        font-size: 2rem;
      }
    }

    &:nth-child(2) {
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.1em;

      @include tab {
        font-size: 1.2rem;
      }
    }
  }
}

.row {
  display: flex;
  gap: 4rem;
  margin-bottom: 4rem;
  height: 50rem;

  @include tab {
    height: 40rem;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
  }

  @include sp {
    gap: 0.8rem;
    margin-bottom: 0.8rem;
    height: auto;
    aspect-ratio: 2 / 1;
  }

  @include sp-s {
    flex-direction: column;
  }

  .arrow {
    top: auto;
    right: 5rem;
    bottom: 4rem;

    @include sp {
      display: none;
    }
  }

  .img {
    height: 100%;

    @include hover {
      &:hover {
        span {
          color: $c-black;
        }

        img {
          transform: scale(1.1);
        }

        &::before {
          background-color: rgba($c-white, 1);
        }

        &::after {
          border-color: $c-black;
        }

        .arrow {
          opacity: 1;
          transform: translateY(-50%) translateX(0);
        }
      }
    }
  }
}
