---
import SectionTitle from "@/components/section-title/SectionTitle.astro";
import Container from "@/components/container/Container.astro";
import { Image } from "astro:assets";
import imgHistory01 from '@/images/company/history-01.jpg';
import imgHistory02 from '@/images/company/history-02.jpg';
import imgHistory03 from '@/images/company/history-03.jpg';
import imgHistory04 from '@/images/company/history-04.jpg';
---

<section class="section">
  <Container>
    <h2 class="title">
      <SectionTitle
        en="History"
        jp="沿革"
      />
    </h2>

    <div class="list-wrap">
      <span class="bar"></span>
      <ul class="list">
        <li class="item">
          <div class="block">
            <p class="year">
              <span>2024.01.01</span>
            </p>
            <div class="thumb">
              <Image src={imgHistory01} alt="" />
            </div>
            <h3>株式会社Flowerful設立</h3>
            <p class="text">
              新鮮で美しい花々を提供することを目指し、株式会社Flowerfulを設立しました。花を通じて人々の生活に彩りと癒しを届けることを理念としています。
            </p>
          </div>
        </li>
        <li class="item">
          <div class="block">
            <p class="year">
              <span>2024.02.01</span>
            </p>
            <div class="thumb">
              <Image src={imgHistory02} alt="" />
            </div>
            <h3>初の店舗を渋谷にオープン</h3>
            <p class="text">
              渋谷に初のフラッグシップ店舗をオープンしました。多くのお客様にご来店いただき、地域の皆様に愛される花屋として成長しています。
            </p>
          </div>
        </li>
        <li class="item">
          <div class="block">
            <p class="year">
              <span>2024.03.01</span>
            </p>
            <div class="thumb">
              <Image src={imgHistory03} alt="" />
            </div>
            <h3>フラワーアレンジメントサービス開始</h3>
            <p class="text">
              お客様の特別な瞬間を彩るためのオーダーメイドのフラワーアレンジメントサービスを開始しました。プロのフローリストが心を込めてデザインし、さまざまなシーンに対応します。
            </p>
          </div>
        </li>
        <li class="item">
          <div class="block">
            <p class="year">
              <span>2024.04.01</span>
            </p>
            <div class="thumb">
              <Image src={imgHistory04} alt="" />
            </div>
            <h3>イベント装飾サービス開始</h3>
            <p class="text">
              結婚式、パーティー、企業イベントなど、特別な日の装飾を手掛けるイベント装飾サービスをスタートしました。華やかで美しいデザインで、忘れられない思い出を演出します。
            </p>
          </div>
        </li>
      </ul>
    </div>
  </Container>
</section>

<style lang="scss">
.section {
  padding: 16rem 0 16rem;
  background-color: var.$c-white;

  @include mixin.sp {
    padding: 8rem 0;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-wrap {
  position: relative;
  margin-top: 4rem;
  padding: 2rem 0 4rem 0;

  @include mixin.sp-s {
    padding: 0 0 2.4rem 0;
  }

  &::before,
  &::after {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var.$c-black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include mixin.sp-s {
      right: auto;
      left: -0.3rem;
    }
  }

  &::after {
    top: auto;
    bottom: 0;
  }
}

.bar {
  width: 0.1rem;
  height: 100%;
  background-color: var.$c-black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;

  @include mixin.sp-s {
    right: auto;
  }
}

.list {
  position: relative;
}

.item {
  display: flex;

  &:nth-child(even) {
    .block {
      margin-left: auto;
    }

    .year {
      text-align: left;
    }
  }

  &:not(:first-child) {
    margin-top: -16rem;

    @include mixin.sp-s {
      margin-top: 4rem;
    }
  }
}

.block {
  width: calc(50% - 4rem);

  @include mixin.sp {
    width: calc(50% - 2rem);
  }

  @include mixin.sp-s {
    width: calc(100% - 2rem);
    margin-left: auto;
  }

  &:first-child {
    @include mixin.sp-s {
      margin-top: -0.5rem;
    }
  }

  h3 {
    font-family: var.$font-base;
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 2.4rem;

    @include mixin.sp {
      font-size: 1.5rem;
      margin-top: 1.6rem;
    }
  }

  .text {
    font-family: var.$font-zen;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2;
    margin-top: 0.8rem;

    @include mixin.sp {
      font-size: 1.3rem;
    }
  }
}

.thumb {
  position: relative;
  aspect-ratio: 4 / 3;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.1);
  }

  img {
    position: absolute;
    height: 100%;
    object-fit: cover;
  }
}

.year {
  font-family: var.$font-base;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: right;
  margin-bottom: 1.2rem;

  @include mixin.sp {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  @include mixin.sp-s {
    text-align: left;
  }
}

</style>