---
import Container from "@/components/container/Container.astro"
import { FaInstagram } from "react-icons/fa";
import { MdOutlineMail } from "react-icons/md";
---

<footer class="footer">
  <Container>
    <div class="inner">
      <div class="info-col">
        <a href="/" class="logo">Flowerful</a>

        <div class="address">
          <p>〒150-0000 東京都渋谷区1-2-3</p>
        </div>
        <div class="tel">
          TEL: <span>03-1234-5678</span>
        </div>
      </div>

      <nav class="nav">
        <ul class="list">
          <li class="item">
            <a href="/#message" class="link">Message</a>
          </li>
          <li class="item">
            <a href="/service" class="link">Service</a>
          </li>
          <li class="item">
            <a href="/company" class="link">Company</a>
          </li>
          <li class="item">
            <a href="/access" class="link">Access</a>
          </li>
        </ul>

        <ul class="btns">
          <li class="btn">
            <a
              href="https://www.instagram.com/jam_factory.demo02/"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-link"
            >
              <span>Instagram</span>
              <FaInstagram />
            </a>
          </li>
          <li class="btn">
            <a href="/contact" class="btn-link -is-black">
              <span>Contact</span>
              <MdOutlineMail />
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </Container>
  <p class="copy">&copy; 株式会社Flowerful All Rights Reserved.</p>
</footer>

<style lang="scss">
  .footer {
    padding: 10rem 0 2rem;
    background-color: var.$c-white;
    margin-top: auto;

    @include mixin.sp {
      padding: 6.4rem 0 1.6rem;
    }
  }

  .logo {
    font-family: var.$font-cav;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;

    @include mixin.sp {
      font-size: 3.2rem;
      text-align: center;
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;

    @include mixin.sp {
      flex-direction: column;
    }
  }

  .info-col {
    font-family: var.$font-zen;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    line-height: 1.75;

    @include mixin.sp {
      font-size: 1.3rem;
      width: 100%;
      text-align: center;
    }
  }

  .address {
    margin-top: 2rem;

    @include mixin.sp {
      margin-top: 1.6rem;
    }
  }

  .hours {
    margin-top: 1.6rem;

    span {
      display: block;
    }
  }

  .holiday {
    margin-top: 1.6rem;

    span {
      display: block;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mixin.sp {
      align-items: center;
    }
  }

  .list {
    display: flex;
    gap: 4rem;

    @include mixin.sp {
      margin-top: 2rem;
      gap: 1rem;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .item {
    @include mixin.sp {
      width: 100%;
    }
  }

  .link {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-family: var.$font-base;
    font-weight: 600;
    letter-spacing: 0.02em;
    padding: 0.4rem 0;

    @include mixin.sp {
      font-size: 1.3rem;
    }

    &::after {
      content: "";
      width: 100%;
      height: 0.1rem;
      background-color: var.$c-black;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scaleX(0);
      transition: all 0.3s;
    }

    @include mixin.hover {
      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  .btns {
    display: flex;
    gap: 3.2rem;
    justify-content: flex-end;
    margin-top: 3.2rem;

    @include mixin.sp {
      margin-top: 3.6rem;
      gap: 1.6rem;
    }

    @include mixin.sp-s {
      flex-direction: column-reverse;
    }
  }

  .btn-link {
    position: relative;
    width: 18rem;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem;
    border: 0.1rem solid var.$c-black;
    background-color: var.$c-white;
    z-index: 1;
    transition: all 0.4s;

    @include mixin.sp {
      width: 20rem;
      height: 4.8rem;
    }

    span {
      position: relative;
      font-family: var.$font-base;
      font-weight: 600;
      font-size: 1.4rem;
      letter-spacing: 0.02em;

      @include mixin.sp {
        font-size: 1.2rem;
      }
    }

    svg {
      font-size: 2.2rem;

      @include mixin.sp {
        font-size: 1.8rem;
      }
    }

    @include mixin.hover {
      &:hover {
        color: var.$c-white;
        background-color: var.$c-black;
      }
    }

    &.-is-black {
      background-color: var.$c-black;
      color: var.$c-white;

      @include mixin.hover {
        &:hover {
          color: var.$c-black;
          background-color: var.$c-white;
        }
      }
    }
  }

  .copy {
    position: relative;
    text-align: center;
    font-family: var.$font-base;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 8rem;
    padding-top: 2rem;

    @include mixin.sp {
      font-size: 1.1rem;
      padding-top: 1.6rem;
      margin-top: 6.4rem;
    }

    &::after {
      content: "";
      width: calc(100% - 12rem);
      height: 0.1rem;
      background-color: #eee;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;

      @include mixin.tab {
        width: calc(100% - 8rem);
      }

      @include mixin.sp {
        width: calc(100% - 4rem);
      }
    }
  }
</style>