---
const {en, jp} = Astro.props;
---

<span class="en">{en}</span>
<span class="jp">{jp}</span>

<style lang="scss">
.en {
  font-family: var.$font-base;
  font-weight: bold;
  font-size: 3.2rem;

  @include mixin.sp {
    font-size: 2.6rem;
  }
}

.jp {
  font-family: var.$font-zen;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-top: 0.8rem;

  @include mixin.sp {
    font-size: 1.2rem;
    margin-top: 0.4rem;
  }
}
</style>