@import "@sass-utils";

.sec {
  padding: 10rem 0 0;

  @include sp {
    padding-top: 8rem;
  }
}

.groups {
  display: grid;
  gap: 12rem;

  @include sp {
    gap: 6.4rem;
  }
}

.group {
}

.block {
  position: relative;
  padding: 16rem 0;
  display: flex;
  gap: 5%;
  background-color: $c-white;
  padding: 6rem;
  border: 0.1rem solid $c-black;

  @include sp {
    padding: 4rem 3.2rem;
  }

  &::after {
    content: "";
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border: 0.1rem solid $c-black;
    position: absolute;
    top: 1rem;
    left: 1rem;
    pointer-events: none;

    @include sp {
      width: calc(100% - 1.6rem);
      height: calc(100% - 1.6rem);
      top: 0.8rem;
      left: 0.8rem;
    }
  }
}

.ttl {
  display: flex;
  flex-direction: column;
  width: 100%;
  // color: $c-white;
  justify-content: center;
  align-items: center;
  z-index: 1;

  span {
    &:nth-child(1) {
      font-family: var(--font-cav);
      font-size: 2rem;
      font-weight: bold;

      @include sp {
        margin-top: 0.4rem;
        font-size: 1.6rem;
      }
    }

    &:nth-child(2) {
      font-size: 3.2rem;
      font-weight: 500;
      letter-spacing: 0.1em;
      margin-top: 0.4rem;
      font-family: var(--font-ship);
      font-weight: 600;
      font-weight: bold;

      @include sp {
        font-size: 2.4rem;
        margin-top: 0;
        letter-spacing: 0.05em;
      }

      @include sp-s {
        font-size: 2rem;
      }
    }
  }
}

.textCol {
  .text {
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 500;
    margin-top: 2.4rem;

    @include sp {
      font-size: 1.3rem;
      margin-top: 1.6rem;
    }

    p {
      &:not(:first-child) {
        margin-top: 2.4rem;

        @include sp {
          margin-top: 1.6rem;
        }
      }
    }
  }
}

.imgCol {
  position: relative;
  // width: 45%;
  height: 48rem;
  margin-top: 3.2rem;

  @include tab {
    height: auto;
    aspect-ratio: 3 / 2;
  }

  @include sp {
    margin-top: 1.6rem;
  }

  img {
    object-fit: cover;
  }

  &::after {
    // content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($c-black, 0.4);
    position: absolute;
    left: 0;
    top: 0;
  }
}

.flow {
  padding-top: 6.4rem;

  @include sp {
    padding-top: 3.2rem;
  }

  h3 {
    font-size: 2.2rem;
    font-weight: 500;
    border-bottom: 0.1rem dashed;
    padding-bottom: 0.8rem;

    @include sp {
      font-size: 1.8rem;
      padding-bottom: 0.6rem;
    }

    @include sp-s {
      font-size: 1.6rem;
    }
  }

  ol {
    li {
      position: relative;
      font-weight: 500;
      font-size: 1.5rem;
      margin-top: 3.2rem;
      padding: 2.4rem;
      background-color: #f5f5f7;

      @include sp {
        padding: 1.6rem;
        font-size: 1.3rem;
        margin-top: 2.4rem;
      }

      &::after {
        content: "";
        width: 1.2rem;
        height: 0.8rem;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        background-color: $c-black;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2rem;
        margin: 0 auto;

        @include sp {
          bottom: -1.7rem;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      h4 {
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 0.8rem;

        @include sp {
          font-size: 1.6rem;
        }

        @include sp-s {
          font-size: 1.5rem;
        }

        span {
          font-family: var(--font-cav);
          font-size: 2.2rem;
          font-weight: bold;

          @include sp {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
