@import "@sass-utils";

.splide {
  margin-top: 10rem;
}

.slide {
  position: relative;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  width: 40rem;
  height: 60rem;

  img {
    height: 100%;
    object-fit: cover;
    // border-radius: 1rem;

    overflow: hidden;
  }

  &.pt2 {
    width: 20rem;
    height: 60rem;
    margin-top: 4rem;
  }

  &.pt3 {
    margin-top: 10rem;
  }
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 100%;

  .row {
    height: 50%;
    position: relative;
  }
}
