@import "@sass-utils";

.service {
  padding: 16rem 0 0;
  background-color: $c-white;

  @include sp {
    padding-top: 8rem;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  margin-top: 6.4rem;

  @include sp {
    margin-top: 3.2rem;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: flex-start;
  min-height: 52rem;
  height: 100%;
  align-items: center;

  @include tab {
    flex-direction: column-reverse;
    min-height: auto;
  }

  &:not(:first-child) {
    margin-top: 10rem;

    @include sp {
      margin-top: 6.4rem;
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    @include tab {
      flex-direction: column-reverse;

      .textContent {
        margin-left: auto;
        margin-right: 0;
      }
    }

    .imgContent {
      right: auto;
      left: 0;
    }
  }
}

.textContent {
  width: 50%;
  background-color: $c-white;
  position: relative;
  border: 0.1rem solid $c-black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 6rem;

  @include tab {
    width: 90%;
    margin-right: auto;
    margin-top: -6.4rem;
    padding: 4rem;
  }

  @include sp-s {
    padding: 3.2rem;
  }

  &::before {
    content: "";
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border: 0.1rem solid $c-black;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    pointer-events: none;

    @include sp {
      width: calc(100% - 1.6rem);
      height: calc(100% - 1.6rem);
      top: 0.8rem;
      left: 0.8rem;
    }
  }

  h3 {
    display: flex;
    flex-direction: column;

    span {
      &:nth-child(1) {
        font-family: var(--font-cav);
        font-size: 2rem;

        @include sp {
          font-size: 1.6rem;
        }
      }

      &:nth-child(2) {
        font-family: var(--font-zen);
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.1em;

        @include sp {
          font-size: 2rem;
        }

        @include sp-s {
          font-size: 1.8rem;
        }
      }
    }
  }

  p {
    margin-top: 1.6rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2;

    @include sp {
      font-size: 1.3rem;
    }
  }
}

.imgContent {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70%;

  @include tab {
    position: relative;
    width: 100%;
    height: 48rem;
  }

  @include sp-s {
    height: auto;
    aspect-ratio: 3 / 2;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }
}

.btnWrap {
  display: flex;
  justify-content: center;
  margin-top: 6.4rem;

  @include sp {
    margin-top: 3.2rem;
  }
}

.btn {
  position: relative;
  width: 24rem;
  height: 6rem;

  @include sp {
    width: 20rem;
    height: 4.8rem;
  }

  span {
    position: relative;
    border: 0.1rem solid $c-black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;

    font-family: var(--font-ship);
    font-weight: 600;
    font-size: 1.5rem;
    background-color: $c-white;
    z-index: 1;
    letter-spacing: 0.04em;
    transition: all 0.4s;

    @include sp {
      padding: 0 1.6rem;
      font-size: 1.4rem;
      letter-spacing: 0.02em;
    }
  }

  @include hover {
    &:hover {
      span {
        background-color: $c-black;
        color: $c-white;
      }

      &::before {
        background-color: $c-black;
        transform: translate(0, 0);
      }

      svg {
        polyline {
          stroke: $c-white;
        }
      }
    }
  }
}

.btnArrow {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 3rem;

  @include sp {
    width: 2.6rem;
  }

  polyline {
    stroke: $c-black;
  }
}
